<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/providerLayout :: layout (~{::body},'home')}">
<head>
    <meta charset="UTF-8"/>
    <title>account</title>
</head>
<body>
<h2 th:text="#{account}" style="margin-left: 100px;margin-top: 60px"></h2>
<form>
    <a th:href="@{/providers/details}" style="margin-left: 1080px; background-color: transparent;border-color:transparent;color:black"><i class="fa fa-check"></i><span class="glyphicon glyphicon-pencil"></span></a>
    <div class="form-group row" style="margin-top: 10px">
        <div class="form-group col-md-4">
            <img th:src="|data:image/jpg;base64,${providerImage}|" width="300" height="300"/>
        </div>
        <label for="name" class="col-sm-1 col-form-label" th:text="#{name}"></label>
        <div class="form-group col-md-7">
            <input size="80" type="text" readonly class="form-control-plaintext" id="name" th:value="${provider.name}">
        </div>
        <label for="field" class="col-sm-1 col-form-label" th:text="#{field}"></label>
        <div class="form-group col-md-7">
            <input size="80" type="text" readonly class="form-control-plaintext" id="field" th:value="${provider.providerField}">
        </div>
        <label for="address" class="col-sm-1 col-form-label" th:text="#{address}"></label>
        <div class="form-group col-md-7">
            <input size="80" type="text" readonly class="form-control-plaintext" id="address" th:value="${provider.address}">
        </div>
        <label for="city" class="col-sm-1 col-form-label" th:text="#{city}"></label>
        <div class="form-group col-md-7">
            <input size="80" type="text" readonly class="form-control-plaintext" id="city" th:value="${provider.city}">
        </div>
        <label for="mail" class="col-sm-1 col-form-label" th:text="#{email}"></label>
        <div class="form-group col-md-7">
            <input size="80" type="text" readonly class="form-control-plaintext" id="mail" th:value="${provider.email}">
        </div>
        <label for="telephone" class="col-sm-1 col-form-label" th:text="#{telephone}"></label>
        <div class="form-group col-md-7">
            <input size="80" type="text" readonly class="form-control-plaintext" id="telephone" th:value="${provider.telephone}">
        </div>
        <label for="description" class="col-sm-1 col-form-label" th:text="#{description}"></label>
        <div class="form-group col-md-7">
            <input size="80" type="text" readonly class="form-control-plaintext" id="description" style="height:55px" th:value="${provider.providerDescription}">
        </div>
    </div>
</form>
</body>
</html>