<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'archive')}">
<head>
    <meta charset="UTF-8"/>
    <title>archive</title>

</head>
<body >
    <!--/*@thymesVar id="client" type="mb.seeme.model.users.Client"*/-->
    <form name="clientQuery" th:object="${client}" th:action="@{/providers/archive}" method="get"
          class="form-horizontal" id="search-client-form">
        <input hidden id="providerId" name="providerId"/>

        <div class="form-group">
            <div class="control-group" id="lastNameGroup">
                <div class="col-sm-4">
                    <input class="form-control" th:field="*{name}" size="30" maxlength="30" placeholder="Client Name"/>
                </div>
                <div class="col-sm-2">
                    <button type="submit" class="btn btn-default" >
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
        </div>
    </form>

    <br>
    <table id="archive_terms" class="table table-striped">
        <thead>
        <tr>
            <th style="width: 100px;" th:text="#{date}">Date</th>
            <th style="width: 100px;" th:text="#{time}">Time</th>
            <th style="width: 100px;" th:text="#{client}">Client</th>
            <th style="width: 80px;" th:text="#{details}">Details</th>
        </tr>
        </thead>
        <tbody>
        <!--/*@thymesVar id="archive_terms" type="mb.seeme.model.terms.Term"*/-->
        <tr th:each="term : ${selections}">
            <td th:text="${term.termDate}"/>
            <td th:text="${term.termTime}"/>
            <td th:text="${term.client}"/>
            <td><a href="#">more</a></td>
        </tr>
        </tbody>
    </table>

</body>
</html>