<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/clientLayout :: layout (~{::body},'home')}">
<head>
    <meta charset="UTF-8">
    <title>My Account</title>
</head>
<body>

<h2 th:text="#{account}"></h2>
</br>
</br>
<form>
    <div class="form-group row">
        <label for="name" class="col-sm-2 col-form-label" th:text="#{name}"></label>
        <div class="form-group col-md-9">
            <input size="80" type="text" readonly class="form-control-plaintext" id="name" th:value="${client.name}">
        </div>
        <label for="mail" class="col-sm-2 col-form-label" th:text="#{email}"></label>
        <div class="form-group col-md-9">
            <input size="80" type="text" readonly class="form-control-plaintext" id="mail" th:value="${client.email}">
        </div>
        <label for="telephone" class="col-sm-2 col-form-label" th:text="#{telephone}"></label>
        <div class="form-group col-md-9">
            <input size="80" type="text" readonly class="form-control-plaintext" id="telephone" th:value="${client.telephone}">
        </div>
    </div>
</form>

</body>
</html>