<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/clientLayout :: layout (~{::body},'provider')}">
<head>
    <meta charset="UTF-8">
    <title>Provider Terms</title>
</head>
<body>
    <!--/*@thymesVar id="term" type="mb.seeme.model.terms.Term"*/-->
    <!--/*@thymesVar id="service" type="mb.seeme.model.services.AvailableService"*/-->
    <!--/*@thymesVar id="serviceProvider" type="mb.seeme.model.users.ServiceProvider"*/-->

    <div class="form-group row">
        <div class="col-sm-12" th:each="serviceProvider : ${providerSelections}">
            <input size="30" type="text" readonly class="form-control-plaintext" th:placeholder="${serviceProvider.name} + '    ' + ${serviceProvider.address} + '    ' + ${serviceProvider.city}">
        </div>
    </div>

    <br>
    <table id="provider_terms" class="table table-striped">
        <thead>
        <tr>
            <th style="width: 100px;" th:text="#{date}">Date</th>
            <th style="width: 100px;" th:text="#{time}">Time</th>
            <th style="width: 80px;" th:text="#{book}">Book</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="term : ${futureSelections}">
            <td th:text="${term.termDate}"/>
            <td th:text="${term.termTime}"/>
            <td><a th:href="@{/clients/provider/book/{termId}(termId=${term.id})}">umow</a></td>
        </tr>
        </tbody>
    </table>
</body>
</html>