<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/clientLayout :: layout (~{::body},'provider')}">
<head>
    <meta charset="UTF-8">
    <title>Provider Terms</title>
</head>
<body>
    <!--/*@thymesVar id="term" type="mb.seeme.model.terms.Term"*/-->
    <!--/*@thymesVar id="service" type="mb.seeme.model.services.AvailableService"*/-->
    <!--/*@thymesVar id="serviceProvider" type="mb.seeme.model.users.ServiceProvider"*/-->

    <div class="form-group row">
        <div class="col-sm-12" th:each="serviceProvider : ${providerSelections}">
            <input size="30" type="text" readonly class="form-control-plaintext" th:placeholder="${serviceProvider.name} + '    ' + ${serviceProvider.address} + '    ' + ${serviceProvider.city}">
        </div>
    </div>

    <br>
    <table id="provider_terms" class="table table-striped">
        <thead>
        <tr>
            <th style="width: 100px;" th:text="#{date}">Date</th>
            <th style="width: 100px;" th:text="#{time}">Time</th>
            <th style="width: 80px;" th:text="#{book}">Book</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="term : ${futureSelections}">
            <td th:text="${term.termDate}"/>
            <td th:text="${term.termTime}"/>
            <td><a data-toggle="modal" data-target="#modal-warning" th:attr="data-target='#modal-warning'+${term.id }">umow</a>
                <!--  MODAL -->
                <div class="modal modal-warning fade in" th:id="modal-warning+${term.id }" >
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                <p style="text-align:center; font-weight: bold" th:text="#{term.summary}"></p>
                                <br>
                                <div class="form-group row">
                                    <label for="data2" class="col-sm-3 col-form-label" th:text="#{date}"></label>
                                    <div class="col-sm-7">
                                        <input size="30" type="text" readonly class="form-control-plaintext" id="data2" th:value="${term.termDate}">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="time2" class="col-sm-3 col-form-label" th:text="#{time}"></label>
                                    <div class="col-sm-7">
                                        <input size="30" type="text" readonly class="form-control-plaintext" id="time2" th:value="${term.termTime}">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="provider2" class="col-sm-3 col-form-label" th:text="#{provider}"></label>
                                    <div class="col-sm-7">
                                        <input size="30" type="text" readonly class="form-control-plaintext" id="provider2" th:value="${term.service.serviceProvider.name}">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="address2" class="col-sm-3 col-form-label" th:text="#{address}"></label>
                                    <div class="col-sm-7">
                                        <input size="30" type="text" readonly class="form-control-plaintext" id="address2" th:value="${term.service.serviceProvider.address} + ' ' + ${term.service.serviceProvider.city}">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="telephone2" class="col-sm-3 col-form-label" th:text="#{telephone}"></label>
                                    <div class="col-sm-7">
                                        <input size="30" type="text" readonly class="form-control-plaintext" id="telephone2" th:value="${term.service.serviceProvider.telephone}">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="service2" class="col-sm-3 col-form-label" th:text="#{service}"></label>
                                    <div class="col-sm-7">
                                        <input size="30" type="text" readonly class="form-control-plaintext" id="service2" th:value="${term.service.serviceName}">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="description2" class="col-sm-3 col-form-label" th:text="#{description}"></label>
                                    <div class="col-sm-7">
                                        <input size="30" type="text" readonly class="form-control-plaintext" id="description2" th:value="${term.termDescription}">
                                    </div>
                                </div>
                            </div>
                        <div class="modal-footer">
                            <a th:href="@{/clients/provider/book/{termId}(termId=${term.id})}">umow</a>
                        </div>
                        </div>
                    </div>
                </div>
        </tr>
        </tbody>
    </table>
</body>
</html>