<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/clientLayout :: layout (~{::body},'terms')}">
<head>
    <meta charset="UTF-8">
    <title>My Terms</title>
</head>
<body>
<!--/*@thymesVar id="term" type="mb.seeme.model.terms.Term"*/-->
<!--/*@thymesVar id="service" type="mb.seeme.model.services.AvailableService"*/-->
<!--/*@thymesVar id="serviceProvider" type="mb.seeme.model.users.ServiceProvider"*/-->

<table id="client_future_terms" class="table table-striped">
    <thead>
    <tr>
        <th style="width: 100px;" th:text="#{date}">Date</th>
        <th style="width: 100px;" th:text="#{time}">Time</th>
        <th style="width: 100px;" th:text="#{provider}">Provider</th>
        <th style="width: 80px;" th:text="#{details}">Details</th>
        <th style="width: 80px;" th:text="#{cancel}">Cancel</th>
    </tr>
    </thead>
    <tbody>
    <h2> Your Future Terms </h2>
    <tr th:each="term : ${futureSelections}">
        <td th:text="${term.termDate}"/>
        <td th:text="${term.termTime}"/>
        <td th:text="${term.service.serviceProvider.name}"/>
        <td><a href="#">more</a></td>
        <td><a href="#">cancel</a></td>
    </tr>
    </tbody>
</table>
<br>

<table id="client_past_terms" class="table table-striped">
    <thead>
    <tr>
        <th style="width: 100px;" th:text="#{date}">Date</th>
        <th style="width: 100px;" th:text="#{time}">Time</th>
        <th style="width: 100px;" th:text="#{provider}">Provider</th>
        <th style="width: 80px;" th:text="#{details}">Details</th>
    </tr>
    </thead>
    <tbody>
    <h2> Your Past Terms </h2>
    <tr th:each="term : ${pastSelections}">
        <td th:text="${term.termDate}"/>
        <td th:text="${term.termTime}"/>
        <td th:text="${term.service.serviceProvider.name}"/>
        <td><a href="#">more</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>