<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/clientLayout :: layout (~{::body},'terms')}">
<head>
    <meta charset="UTF-8">
    <title>My Terms</title>
</head>
<body>
<!--/*@thymesVar id="term" type="mb.seeme.model.terms.Term"*/-->
<!--/*@thymesVar id="service" type="mb.seeme.model.services.AvailableService"*/-->
<!--/*@thymesVar id="serviceProvider" type="mb.seeme.model.users.ServiceProvider"*/-->

<table id="client_future_terms" class="table table-striped">
    <thead>
    <tr>
        <th style="width: 100px;" th:text="#{date}">Date</th>
        <th style="width: 100px;" th:text="#{time}">Time</th>
        <th style="width: 100px;" th:text="#{provider}">Provider</th>
        <th style="width: 80px;" th:text="#{details}">Details</th>
        <th style="width: 80px;" th:text="#{cancel}">Cancel</th>
    </tr>
    </thead>
    <tbody>
    <h2> Your Future Terms </h2>
    <tr th:each="term : ${futureSelections}">
        <td th:text="${term.termDate}"/>
        <td th:text="${term.termTime}"/>
        <td th:text="${term.service.serviceProvider.name}"/>
        <td><a data-toggle="modal" data-target="#modal-warning" th:attr="data-target='#modal-warning'+${term.id }">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<span class="glyphicon glyphicon-search"></span></a>
            <!--  MODAL -->
            <div class="modal modal-warning fade in" th:id="modal-warning+${term.id }" >
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                            <div class="form-group row">
                                <label for="data" class="col-sm-2 col-form-label">Date</label>
                                <div class="col-sm-10">
                                    <input size="30" type="text" readonly class="form-control-plaintext" id="data" th:value="${term.termDate}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="time" class="col-sm-2 col-form-label">Time</label>
                                <div class="col-sm-10">
                                    <input size="30" type="text" readonly class="form-control-plaintext" id="time" th:value="${term.termTime}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="provider" class="col-sm-2 col-form-label">Provider</label>
                                <div class="col-sm-10">
                                    <input size="30" type="text" readonly class="form-control-plaintext" id="provider" th:value="${term.service.serviceProvider.name}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="address" class="col-sm-2 col-form-label">Address</label>
                                <div class="col-sm-10">
                                    <input size="30" type="text" readonly class="form-control-plaintext" id="address" th:value="${term.service.serviceProvider.address}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="telephone" class="col-sm-2 col-form-label">Telephone</label>
                                <div class="col-sm-10">
                                    <input size="30" type="text" readonly class="form-control-plaintext" id="telephone" th:value="${term.service.serviceProvider.telephone}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="service" class="col-sm-2 col-form-label">Service</label>
                                <div class="col-sm-10">
                                    <input size="30" type="text" readonly class="form-control-plaintext" id="service" th:value="${term.service.serviceName}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="description" class="col-sm-2 col-form-label">Description</label>
                                <div class="col-sm-10">
                                    <input size="30" type="text" readonly class="form-control-plaintext" id="description" th:value="${term.termDescription}">
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <a type="button" class="btn btn-outline" th:href="@{/cancel/{id}(id=${term.id})}"><i class="fa fa-check"></i><span class="glyphicon glyphicon-remove-circle"></span> cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        <td><a th:href="@{/cancel/{id}(id=${term.id})}">cancel</a></td>
    </tr>
    </tbody>
</table>
<br>

<table id="client_past_terms" class="table table-striped">
    <thead>
    <tr>
        <th style="width: 100px;" th:text="#{date}">Date</th>
        <th style="width: 100px;" th:text="#{time}">Time</th>
        <th style="width: 100px;" th:text="#{provider}">Provider</th>
        <th style="width: 80px;" th:text="#{details}">Details</th>
    </tr>
    </thead>
    <tbody>
    <h2> Your Past Terms </h2>
    <tr th:each="term : ${pastSelections}">
        <td th:text="${term.termDate}"/>
        <td th:text="${term.termTime}"/>
        <td th:text="${term.service.serviceProvider.name}"/>
        <td><a data-toggle="modal" data-target="#modal-warning" th:attr="data-target='#modal-warning'+${term.id }">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<span class="glyphicon glyphicon-search"></span></a>
            <!--  MODAL -->
            <div class="modal modal-warning fade in" th:id="modal-warning+${term.id }" >
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                            <div class="form-group row">
                                <label for="data2" class="col-sm-2 col-form-label">Date</label>
                                <div class="col-sm-10">
                                    <input size="30" type="text" readonly class="form-control-plaintext" id="data2" th:value="${term.termDate}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="time2" class="col-sm-2 col-form-label">Time</label>
                                <div class="col-sm-10">
                                    <input size="30" type="text" readonly class="form-control-plaintext" id="time2" th:value="${term.termTime}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="provider2" class="col-sm-2 col-form-label">Provider</label>
                                <div class="col-sm-10">
                                    <input size="30" type="text" readonly class="form-control-plaintext" id="provider2" th:value="${term.service.serviceProvider.name}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="address2" class="col-sm-2 col-form-label">Address</label>
                                <div class="col-sm-10">
                                    <input size="30" type="text" readonly class="form-control-plaintext" id="address2" th:value="${term.service.serviceProvider.address}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="telephone2" class="col-sm-2 col-form-label">Telephone</label>
                                <div class="col-sm-10">
                                    <input size="30" type="text" readonly class="form-control-plaintext" id="telephone2" th:value="${term.service.serviceProvider.telephone}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="service2" class="col-sm-2 col-form-label">Service</label>
                                <div class="col-sm-10">
                                    <input size="30" type="text" readonly class="form-control-plaintext" id="service2" th:value="${term.service.serviceName}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="description2" class="col-sm-2 col-form-label">Description</label>
                                <div class="col-sm-10">
                                    <input size="30" type="text" readonly class="form-control-plaintext" id="description2" th:value="${term.termDescription}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </tr>
    </tbody>
</table>
</body>
</html>